body {
  font-family: Arial, sans-serif;
  display: flex;
}

[id="single-spa-application:angularSidebar"] {
  background-color: antiquewhite;
  order: -1;
}

#angular-root,
#angularjs-root {
  display: none;
}
